<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>인증이력 저장 테스트</title>
    </head>
    <body>
        <h3>인증이력 저장 테스트</h3>
        <form method="post" action="/process/submit">
            <input type="text" id="userCode" name="userCode">
            <br />
            <button>저장</button>
            <br />  
        </form>
        <form method="post" action="/process/list">
            <button>모든 이력 조회</button>
            <br />  
        </form>
    </body>
</html>