<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>얼굴인식 파이썬 파일 연동 테스트</title>
    </head>
    <body>
        <h3>얼굴인식 파이썬 파일 연동 테스트</h3>
        <form method="post" action="/process/recognition">
            <button>테스트</button>  
        </form>
    </body>
</html>